<div id="<%= view %>">
  <%= calendar @date do |date| %>
    <%= date.day %>
    <!-- TODO: DRY up or get rid of date to string in the view. -->
    <% if @outages_by_date[date.to_s] %>
      <ul>
        <% @outages_by_date[date.to_s].each do |outage| %>
          <li class="title"><%= link_to outage.title, outage %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
