// Place all the styles related to the Outages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$half-hour-height: 36px;
$outage-padding-left: 40px;

.day-by-half-hour {
  ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    li {
      height: $half-hour-height;
      border-style: solid;
      border-width: thin;
      width: 100%;
      div.times {
        float: left;
        width: 19%;
      }
      div.outages {
        position: relative;
        float: left;
        width: 79%;
        .outage-1 {
          top: 0;
          // padding-left: $outage-padding-left;
          background-color: LightCyan;
          position: absolute;
          width: 100%;
          // @.bg-info;
        }
      }
    }
  }
}

.calendar-day {
  width: 100%;
}

.calendar {
  width: 100%;
}
